.main-wrapper {
  display: flex;
}


.MuiFileInput-TextField input + span,
.MuiFileInput-TextField .MuiFileInput-Typography-size-text,
.MuiFileInput-TextField svg {
  color: var(--ifm-color-black);
}

[data-theme="dark"] .MuiFileInput-TextField input + span,
[data-theme="dark"] .MuiFileInput-TextField .MuiFileInput-Typography-size-text,
[data-theme="dark"] .MuiFileInput-TextField svg {
  color: var(--ifm-color-white);
}

.MuiFileInput-TextField fieldset {
  border-color: var(--ifm-color-black)!important;
}

[data-theme="dark"] .MuiFileInput-TextField fieldset {
  border-color: var(--ifm-color-white)!important;
}